<launch>
  <!-- Turtlesim Node-->
  <node pkg="turtlesim" type="turtlesim_node" name="sim"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="turtle_joy" >
    <param name="dev" type="string" value="/dev/input/js2" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="5.0" />
    <param name="coalesce_interval" value="0.1" />
  </node>

  <node pkg="ros_joystick" type="joystick_rosaria" name="ros2"/>
  <node pkg="priorityhandler" type="priorityhandler" name="priorityhandler"/>
  <node pkg="opencv" type="opencv" name="head_tracking" />
   <node pkg="opencv" type="laser" name="laser_tracking" />
</launch>
